<main>
  <section>
    <div class="container py-5">
      <div class="text-center p-3 bg-info-subtle">
        <div class="rounded-pill p-3 border d-inline-block mb-4">
          <span>
            <i class="fa-solid fa-circle animated-color"></i>
            <i class="fa-solid fa-circle animated-color scale-up mx-1"></i>
          </span>
          <span>مرحباً بك في عدسة</span>
        </div>
        <h1 class="mb-4 fw-bold">
          اكتشف <span class="text-warning">فن</span> <br />
          التصوير الفوتوغرافي
        </h1>
        <p class="text-black-50 mb-4">
          انغمس في أسرار المحترفين ونصائح عملية لتطوير مهاراتك في التصوير.
        </p>
        <div class="mt-2 gy-3 mb-4">
          <button
            class="border-0 bg-normal py-3 px-5 rounded-pill text-white btn-castum fw-semibold ms-md-3"
          >
            استكشف المقالات <i class="fa-solid fa-arrow-left"></i>
          </button>
          <button class="rounded-pill py-3 px-5 btn-demo bg-white fw-semibold">
            <i class="fa-solid fa-circle-exclamation"></i> اعرف المزيد
          </button>
        </div>
        <div
          class="d-flex justify-content-between align-items-center gap-3 text-center w-50 mx-auto"
        >
          <div class="border border-3 rounded-3 px-4 py-2">
            <i class="fa-solid fa-newspaper"></i>
            <p>+50</p>
            <p>مقالة</p>
          </div>
          <div class="border border-3 rounded-3 px-4 py-2">
            <i class="fa-solid fa-users"></i>
            <p>+10ألف</p>
            <p>قارئ</p>
          </div>
          <div class="border border-3 rounded-3 px-4 py-2">
            <i class="fa-solid fa-folder-open"></i>
            <p>4</p>
            <p>تصنيفات</p>
          </div>
          <div class="border border-3 rounded-3 px-4 py-2">
            <i class="fa-solid fa-pen-nib"></i>
            <p>6</p>
            <p>كاتب</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-4">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <div class="rounded-pill p-3 border d-inline-block mb-4">
            <span>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle animated-color scale-up mx-1"></i>
            </span>
            <span>مميز </span>
          </div>
          <h2>مقالات مختارة</h2>
          <p>محتوى منتقى لبدء رحلة تعلمك</p>
        </div>
        <button
          class="border-0 bg-normal py-3 px-5 rounded-3 text-white btn-castum fw-semibold ms-md-3"
        >
          عرض الكل <i class="fa-solid fa-arrow-left"></i>
        </button>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row rounded-2 overflow-hidden gy-4">
        @for (item of specialArticles; track $index) {
          <div class="m-card col-md-6 p-0 overflow-hidden rounded-end-3 position-relative">
            <img class="w-100 h-100 img-hover" [src]="item.image" [alt]="item.slug" />
            <div class="position-absolute bg-g p-2 text-light rounded-pill translate-middle">
              <span class="fw-semibold"><i class="fa-solid fa-star"></i> مميز </span>
            </div>
          </div>
          <div class="m-card col-md-6 rounded-start-3 border border-1 p-0 bg-dark">
            <div class="p-5">
              <div class="mb-3">
                <span class="rounded-pill p-2 border border-1 text-main">إضاءة </span
                ><span class="text-white-50"
                  ><i class="fa-regular fa-clock"></i> {{ item.readTime }}
                </span>
              </div>
              <h2 class="mb-2">{{ item.title }}</h2>
              <p class="text-white-50">
                {{ item.excerpt }}
              </p>
              <div class="mt-4 d-flex justify-content-between align-items-center">
                <div class="d-flex gap-3">
                  <div class="col-3">
                    <img class="w-100 rounded-circle" [src]="item.author.avatar" alt="" />
                  </div>
                  <div>
                    <p class="fs-6 m-0 text-light">{{ item.author.name }}</p>
                    <p class="fs-6 m-0 text-white-50">{{ item.date }}</p>
                  </div>
                </div>
                <span class="btn-castums main-color text-main"
                  >اقرأ المقال <i class="fa-solid fa-arrow-left"></i
                ></span>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </section>
  <section class="py-4">
    <div class="container-fluid">
      <div class="text-center p-3 bg-info-subtle mb-3">
        <div class="rounded-pill p-3 border d-inline-block mb-4">
          <span>
            <i class="fa-solid fa-circle animated-color"></i>
            <i class="fa-solid fa-circle animated-color scale-up mx-1"></i>
          </span>
          <span> التصنيفات</span>
        </div>
        <h1 class="mb-4 fw-bold">استكشف حسب الموضوع</h1>
        <p class="text-black-50 mb-4">اعثر على محتوى مصمم حسب اهتماماتك</p>
      </div>
      <div class="row g-3">
        @for (categorie of dummy.categories; track $index) {
          <div
            class="col-6 col-md-3 bg-hov rounded-3"
            [routerLink]="'/home'"
            [queryParams]="{ category: categorie.name }"
          >
            <div class="p-2">
              <a class="text-decoration-none text-reset">
                <div class="d-flex justify-content-between align-items-center">
                  <span><i class="fa-solid text-main" [class]="categorie.icon"></i></span>
                  <span><i class="fa-solid fa-angle-left text-white"></i></span>
                </div>
                <h3 class="text-black">{{ categorie.name }}</h3>
                <p class="text-black-50">{{ categorie.count }} مقالة</p>
              </a>
            </div>
          </div>
        }
      </div>
    </div>
  </section>
  <section class="py-4">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <div class="rounded-pill p-3 border d-inline-block mb-4">
            <span>
              <i class="fa-solid fa-circle animated-color"></i>
              <i class="fa-solid fa-circle animated-color scale-up mx-1"></i>
            </span>
            <span> الأحدث</span>
          </div>
          <h2>أحدث المقالات</h2>
          <p>محتوى جديد طازج من المطبعة</p>
        </div>
        <button
          class="border-0 bg-normal py-3 px-5 rounded-pill text-white btn-castum fw-semibold ms-md-3"
        >
          استكشف المقالات <i class="fa-solid fa-arrow-left"></i>
        </button>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        @for (item of latestArticlesList; track $index) {
          <div class="col over">
            <div class="card h-100 overflow-hidden btn-castum position-relative">
              <img [src]="item.image" class="card-img-top overflow-hidden" alt="..." />
              <div class="position-absolute category p-2 text-light rounded-pill translate-middle">
                <span class="fw-semibold">{{ item.category }}</span>
              </div>
              <div class="card-body p-4">
                <div>
                  <span><i class="fa-regular fa-clock"></i> 10 دقائق للقراءة </span>
                  <span>{{ item.date }}</span>
                </div>
                <h3 class="card-title">أساسيات إعدادات الكاميرا: مثلث التعريض الضوئي</h3>
                <p class="card-text">
                  افهم العلاقة بين فتحة العدسة وسرعة الغالق وحساسية ISO للتحكم الكامل في صورك.
                </p>
                <div class="mt-4 d-flex justify-content-between align-items-center">
                  <div class="d-flex gap-3">
                    <div class="col-3">
                      <img
                        class="w-100 rounded-circle"
                        src="https://images.unsplash.com/photo-1560250097-0b93528c311a?w=100&h=100&fit=crop&crop=face"
                        alt=""
                      />
                    </div>
                    <div>
                      <p class="fs-6 m-0">داود خالد</p>
                      <p class="fs-6 m-0 text-black-50">مدرب تصوير</p>
                    </div>
                  </div>
                  <span class="btn-castums main-color text-main"
                    ><i class="fa-solid fa-angle-left"></i
                  ></span>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </section>
  <section>
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
      <div class="p-5 text-center border rounded-4 shadow-sm bg-light">
        <div
          class="mx-auto mb-3 btn btn-outline-danger d-flex align-items-center justify-content-center"
          style="width: 45px; height: 45px"
        >
          <i class="fa-regular fa-envelope fa-2x"></i>
        </div>

        <h3 class="fw-bold py-3">اشترك في نشرتنا الإخبارية</h3>
        <p class="text-muted pb-3">
          احصل على نصائح التصوير الحصرية ودروس جديدة مباشرة في بريدك الإلكتروني
        </p>

        <div class="input-group mt-4">
          <input type="email" class="form-control" placeholder="أدخل بريدك الإلكتروني" />
          <button class="btn btn-danger me-1">اشتراك</button>
        </div>
        <div class="d-flex py-3">
          <div class="d-flex">
            <div>
              <span
                ><img
                  class="col-1 rounded-circle"
                  src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=100&h=100&fit=crop&crop=face"
                  alt=""
              /></span>
              <span
                ><img
                  class="col-1 rounded-circle mx-3"
                  src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?w=100&h=100&fit=crop&crop=face"
                  alt=""
              /></span>
              <span
                ><img
                  class="col-1 rounded-circle"
                  src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?w=100&h=100&fit=crop&crop=face"
                  alt=""
              /></span>
            </div>
            <span>انضم لـ <span class="fw-bold">+10,000</span> مصور</span>
          </div>
          <p class="mx-4">بدون إزعاج</p>
          <p>إلغاء الاشتراك في أي وقت</p>
        </div>
      </div>
    </div>
  </section>
</main>
