.animated-color {
  display: inline-block;
  font-size: 8px;
  animation: changeColor 1.5s infinite alternate ease-in-out;
}
.fa-circle {
  font-size: 8px;
}

.scale-up {
  animation: colorAndScale 1.5s infinite alternate ease-in-out;
}

@keyframes changeColor {
  from {
    color: #f97316;
  }
  to {
    color: #914611;
  }
}
.bg-normal {
  background-color: #ea580c;
}
.text-main {
  color: #ff6900;
}

.form-control:focus {
  border-color: #ff6900;
  box-shadow: 0 0 0 0.25rem rgba(255, 106, 0, 0.486);
}
.category {
  top: 20px;
  background-color: rgba(0, 0, 0, 0.403);
}
